$just-white: #FFFFFF;

$cheshire-red: #E27866;
$cheshire-brick: #A37169;
$cheshire-green: #41D395;
$cheshire-blue: #6696E2;

$navy-black: #1C1C1C;
$dry-black: #212121;

$night-Gray: #333333;
$morning-Gray: #86878B;
$day-Gray: #D8D8D8;
$innocent-Gray: #F5F5F5;

$cheshire-Shadow: 0px 3px 6px #00000029;
